.scrollingArea {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #f6f6f6;
  padding-top: 15vw;
  //scroll-snap-type: y mandatory;
  &.scrollLocked {
    overflow: hidden;
    height: 100%;
    position: fixed;
  }
  .arrow {
    background: url('./assets/arrow_top.svg') no-repeat center;
    background-size: contain;
    position: fixed;
    right: 3.3vw;
    transition: all 0.25s ease-in-out 0s;
    bottom: 10vw;
    width: 0;
    height: 0;
    z-index: 200;
    border-radius: 50%;
    &.visible {
      width: 11vw;
      height: 11vw;
      bottom: 18vw;
    }
  }
}