@import "styles/vars.scss";
.screen {
  width: 100%;
  min-height: 100vh;
  background: #253860;
  padding-top: 60%;
  padding-bottom: 9vw;
  > * {
    z-index: 5;
    position: relative;
  }
  .close {
    position: absolute;
    &:before, &:after {
      background-color: white;
    }
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 76%;
    object-fit: contain;
    z-index: 3;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
   }
  &:after {
    content: '';
    background: linear-gradient(180deg, rgba(37, 56, 96, 0) 24.54%, #253860 36.03%);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;
  }
  .title {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 700;
    font-size: $fontsize24;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    z-index: 5;
    position: relative;
    margin-bottom: 1em;
  }
  .block {
    width: 82vw;
    height: 15vw;
    background: #FFFFFF;
    border-radius: 2.7vw;
    z-index: 5;
    position: relative;
    margin: auto auto 2.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    .text1 {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 700;
      font-size: $fontsize16;
      text-transform: uppercase;
      line-height: 1.2;
      color: #000000;
    }
    .text2 {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 700;
      font-size: $fontsize14;
      line-height: 1.2;
      color: #000000;
    }
    .text3 {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 400;
      font-size: $fontsize10;
      line-height: 1.2;
      color: #2C5CBD;
    }
  }
  .block4 {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 700;
    font-size: $fontsize12;
    line-height: 1.4;
    text-align: center;
    color: #99B1E0;
    margin: auto auto 6vw;
  }
  .button {
    width: 82vw;
    margin: auto auto 2.6vw;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 2.6vw;
    a {
      width: 37.6vw;
      height: 9.3vw;
      border: 0.26vw solid #99B1E0;
      border-radius: 5vw;
      display: flex;
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 400;
      font-size: $fontsize14;
      color: #99B1E0;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      margin: 0 2vw;
      &:before {
        content: '';
        width: 5.3vw;
        height: 5.3vw;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin-right: 2vw;
      }
      &.whatsapp {
        &:before {
          background-image: url("./assets/icons__whatsapp.svg");
        }
      }
      &.phone {
        &:before {
          background-image: url("./assets/icons__phone.svg");
        }
      }
    }
  }
}