@import "styles/vars.scss";

.screen {
  width: 100vw;
  padding: 10vw 0 10vw 0;
  position: relative;
  overflow: hidden;
  z-index: 2;

  .greetingScreen {
    padding: 0 8vw 4vw 11vw;

    div:first-child {
      font-family: 'Circe', Arial, sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      font-size: $fontsize33;
      line-height: 1.2;
      box-sizing: content-box;
      margin: 0;
      padding: 0;
      border: 0;
      color: rgb(46, 46, 46);

      span {
        color: rgb(70, 120, 219);
      }
    }

    div:last-child {
      color: #2e2e2e;
      font-family: 'Raleway', Arial, sans-serif;
      font-weight: 500;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      font-size: $fontsize16;
      line-height: 1.2;
    }
  }

  .present {
    width: 148vw;
  }
  .topServicesWrapper {
    display: flex;
    flex-wrap: nowrap;
  }
}