.card {
  width: 90vw;
  height: 38vw;
  box-shadow: 0 1.2vw 20px rgba(0, 0, 0, 0.05), 1.2vw 1.2vw 3vw rgba(0, 0, 0, 0.2);
  border-radius: 1.8vw;
  overflow: hidden;
  position: relative;
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100% ;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.59) 19.25%, rgba(0, 0, 0, 0) 44.44%);
    }

  }
  .title {
    font-weight: 700;
    font-size: 3.73vw;
    color: white;
    position: absolute;
    left: 6%;
    top: 12%;
    line-height: 1.3;
  }
  .gift {
    position: absolute;
    width: 9vw;
    height: 9vw;
    left: 6%;
    bottom: 6%;
    background: #FFFFFF;
    border-radius: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      width: 6vw;
      height: 6vw;
      background: url('./assets/gift.svg') no-repeat center;
      display: block;
    }
  }
  button {
    position: absolute;
    right: 6%;
    bottom: 6%;
    opacity: 0;
    pointer-events: none;
  }
}