.heart {
  width: 58.4vw;
  height: 58.4vw;
  background-image: url('./assets/heart.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    color: white;
    font-size: 3.2vw;
    padding: 0 30%;
    text-align: center;
    line-height: 1.2;
  }
  .icon {
    width: 7.46vw;
    height: 7.46vw;
    position: relative;
    margin-bottom: 3%;
    img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      width: 100%;
    }
  }
}