.screen {
  width: 100vw;
  min-height: 178vw;
  background-color: white;
  padding-top: 1vw;
  overflow: hidden;
  position: relative;
  z-index: 2;
  .header {
    .logo {
      margin: 0 auto;
      background: url('./assets/agc-logo.svg') no-repeat;
      background-size: contain;
      width: 32vw;
      height:25vw;
    }
    .text {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3.7vw;
      text-align: center;
      color: #2C5CBD;
    }
    margin-bottom: 9.2vw;
  }
  .divisions {
    > div {
      margin: 0 0 2.2vw 0;
    }
  }

 }
.ladyClub {
  width: 100vw;
  height: 71.5vw;
  box-shadow: 0 1.2vw 20px rgba(0, 0, 0, 0.05), 1.2vw 1.2vw 3vw rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 0 0 2.2vw 0;
  scroll-snap-align: start end;
  z-index: 2;
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135.41deg, rgba(187, 14, 118, 0.5) 34.23%, rgba(255, 24, 163, 0.145) 57.34%, rgba(255, 43, 170, 0.5) 82.85%);
    }

  }
  .title {
    font-weight: 400;
    font-size: 4.8vw;
    color: white;
    position: absolute;
    left: 6%;
    top: 7%;
    width: 88%;
    text-align: center;
    line-height: 1.3;
    white-space: nowrap;
  }
  .title2 {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -16%;
    top: 16.5%;
    width: 33%;
    text-align: center;
    line-height: 1.6;
    white-space: nowrap;
    background: #E40089;
  }
  .title3 {
    font-weight: 400;
    font-size: 3vw;
    color: white;
    position: absolute;
    left: 6%;
    bottom: 10%;
    line-height: 1.6;
    white-space: nowrap;
    text-transform: uppercase;
  }
  button {
    position: absolute;
    right: 6%;
    bottom: 8%;
  }
}