.button {
  border: 1px solid #FFFFFF;
  border-radius: 4vw;
  width: 49vw;
  font-size: 3.7vw;
  color: white;
  background-color: transparent;
  font-weight: 600;
  font-family: Raleway, serif;
  transition: all 0.1s ease-in 0s;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  line-height: 3.2;
  &.large {
    width: 85vw;
  }
  &.small {
    font-size: 3.2vw;
    width: auto;
    height: 8.9vw;
    padding: 0 2.5em;
  }
  &.fullWidth {
    width: 100%;
  }
  &:active {
    background-color: #2C5CBD;
    border-color: #2C5CBD;
  }
  &.blue {
    background-color: #2C5CBD;
    border-color: #2C5CBD;
  }
  &.darkBlue {
    background-color: #282942;
    border-color: #282942;
  }
  &.white {
    color: rgb(36, 36, 36);
    background-color: white;
    border-color: transparent;
  }
  &.whiteBorder {
    color: white;
    background-color: transparent;
    border-color: white;
  }
  &.blueBorder {
    border-color: #2C5CBD;
    color: #2C5CBD;
  }
  &.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  &.circle {
    width: 11.2vw;
    height: 11.2vw;
    border-radius: 50%;
  }
  &.rounded {
    width: 11.2vw;
    height: 11.2vw;
    border-radius: 22%;
  }
  &.noBorder {
    border: none;
  }
  &.gray {
    border-color: #969696;
    &.arrowRight:before {
      background: url(./assets/arrow--right--gray.svg) no-repeat center;
      background-size: contain;
    }
    &.arrowLeft:before {
      background: url(./assets/arrow--left--gray.svg) no-repeat center;
      background-size: contain;
    }
  }
  &.lightGray {
    border-color: #6A6A6A;
  }
  &.arrowLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      width: 2.75vw;
      height: 5.25vw;
      display: block;
      background: url(./assets/arrow--left.svg) no-repeat center;
      background-size: contain;
    }
  }
    &.arrowRight {
      display: flex;
      align-items: center;
      justify-content: center;
      &:before {
        content: '';
        width: 2.75vw;
        height: 5.25vw;
        display: block;
        background: url(./assets/arrow--right.svg) no-repeat center;
        background-size: contain;
      }
    }
}