@import "styles/vars.scss";
.screen {
  width: 100vw;
  height: 162vw;
  overflow: hidden;
  position: relative;
  z-index: 2;
  font-size: 0.266vw;
  background: linear-gradient(180deg, #2949B6 0%, #3F78DC 100%);
  .fivePercent {
    background: linear-gradient(180deg, #2949B6 0%, #3F78DC 100%);
    padding: 49em 17em 0 17em;
    .text1 {
      font-size: 48em;
      color: white;
      font-family: Circe, Aria, SansSerif, serif;
      line-height: 1.2;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
    }
    .text2 {
      font-weight: 300;
      font-size: 20em;
      color: white;
      text-align: center;
      line-height: 1.2;
    }
    .text3 {
      font-weight: 700;
      font-size: 20em;
      color: white;
      text-align: center;
      line-height: 1.2;
    }
    .discount {
      background: url('./assets/discount_bgr.png') no-repeat center;
      background-size: cover;
      width: 332em;
      height: 364em;
      text-align: center;
    }
    .text4 {
      font-weight: 700;
      font-size: 26em;
      color: white;
      background: url('./assets/fly_bgr.svg') no-repeat center;
      text-align: center;
      line-height: 1.2;
      text-transform: uppercase;
    }

  }
  .ortus {
    background: linear-gradient(180deg, #2949B6 0%, #3F78DC 100%);
    padding-top: 47em;
    > .header {
      margin: 0 0 24em 0;
      .greetings {
        font-family: Circe, Aria, SansSerif, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 6.2vw;
        text-align: center;
        color: white;
        margin-bottom: 3vw;
        line-height: 1.3;
        div:nth-child(1) {
          font-size: $fontsize46;
          font-weight: 800;
          text-transform: uppercase;
        }
        div:nth-child(2) {
          font-size: $fontsize18;
          font-family: 'Raleway', Arial, sans-serif;
        }
        div:nth-child(3) {
          font-size: $fontsize18;
          font-weight: 600;
          font-family: 'Raleway', Arial, sans-serif;
        }
      }
      .greetings2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 1vw 29em;
        > div {

        }
        .logo {
          background: url('./assets/ortus--logo.png') no-repeat center;
          width: 53em;
          height: 46em;
          background-size: contain;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 4vw;
        }
        .title {
          font-style: normal;
          font-weight: 700;
          font-size: $fontsize36;
          color: white;
          margin-top: 0;
          text-align: left;
          line-height: 1.1;
          margin-right: 0.6em;
        }
        .about {
          font-style: normal;
          font-weight: 400;
          font-size: $fontsize12;
          line-height: 1.4;
          text-transform: uppercase;
          color: white;
        }
        .border {
          height: 10.6vw;
          width: 0.26vw;
          background: white;
          margin-right: 3vw;
        }
      }
    }
    .ortusMaket {
      height: 327em;
      width: 166em;
      background: url("./assets/ortus--bgr.png") no-repeat center, url("./assets/ortus--bgr2.png") no-repeat center;
      background-size: contain;
      margin: 0 auto 13em auto;
      position: relative;
    }
    .download {
      font-family: Raleway, serif;
      font-style: normal;
      font-size: $fontsize30;
      text-align: center;
      color: white;
      margin-bottom: 5vw;
      text-transform: uppercase;
      font-weight: 600;
    }
    .buttons {
      display: flex;
      justify-content: center;
      a {
        display: block;
        width: 35vw;
        height: 14.8vw;
        margin: 0 2vw;
        &.toGoogle {
          background: url('./assets/toGoogle.png') no-repeat;
          background-size: contain;
        }
        &.toIos {
          background: url('./assets/toIos.png') no-repeat;
          background-size: contain;
        }
      }
    }
  }
  .pagination {
    bottom: 5.75vw;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    > span {
      margin: 0 1vw;
    }
    .bullet {
      margin: 0 1vw;
      width: 1.86vw;
      height: 1.86vw;
      background: #BDBDBD;
      opacity: 0.3;
      border-radius: 50%;
      &.active {
        background: white;
        opacity: 1;
      }
    }
  }
  .buttonPosition {
    position: absolute;
    top: 279em;
    width: 100%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 0 17em 0 17em;
    button {
      width: 9vw;
      height: 9vw;
    }
    .spacer {
      flex: 2;
    }
    .readOn button {
      opacity: 0;
      pointer-events: none;
    }
    > button:last-child {
      margin-right: 0;
    }
    button {
      margin-right: 1vw;
    }


  }

}