@import "styles/vars.scss";
.fastWith {
  width: 100vw;
  height: 50vw;
  background-image: linear-gradient(0deg, rgba(41,79,173,1) 0%, rgba(70,120,219,1) 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  > div {
    font-size: $fontsize25;
    font-weight: 600;
    color: rgba(256, 256, 256, 0.35);
    font-family: 'Circe', Arial, sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    span {
      color: rgba(256, 256, 256, 1);
    }
    &:nth-child(1) {
      margin-left: -22em;
    }
    &:nth-child(2) {
      margin-left: -28em;
    }
    &:nth-child(3) {
      margin-left: -6em;
    }
    &:nth-child(4) {
      margin-left: -16em;
    }
    &:nth-child(5) {
      margin-left: -28em;
    }
  }
}
