.card {
  width: 100vw;
  height: 71.5vw;
  box-shadow: 0 1.2vw 20px rgba(0, 0, 0, 0.05), 1.2vw 1.2vw 3vw rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180.27deg, rgba(35, 35, 35, 0) 44.06%, rgba(44, 44, 44, 0.63) 80.9%, rgba(44, 44, 44, 0.98) 99.77%);
      z-index: 2;
    }

  }
  .title {
    font-weight: 700;
    font-size: 5.3vw;
    color: white;
    position: absolute;
    left: 6%;
    top: 55%;
    line-height: 1.3;
    text-transform: uppercase;
    width: 90%;
    z-index: 2;
  }
  .title2 {
    font-weight: 200;
    font-size: 2.7vw;
    color: white;
    position: absolute;
    left: 6%;
    bottom: 6%;
    line-height: 1.3;
    width: 50%;
    z-index: 3;
  }
  button {
    position: absolute;
    right: 6%;
    bottom: 6%;
    z-index: 4;
  }
}