.card {
  width: 100vw;
  height: 71.5vw;
  box-shadow: 0 1.2vw 20px rgba(0, 0, 0, 0.05), 1.2vw 1.2vw 3vw rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 0 0 2.2vw 0;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(180deg, #252525 0%, rgba(37, 37, 37, 0.6) 13.61%, rgba(0, 0, 0, 0) 40.67%), linear-gradient(180.27deg, rgba(35, 35, 35, 0) 68.43%, rgba(44, 44, 44, 0.63) 85.26%, rgba(44, 44, 44, 0.98) 99.77%);
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in 0s;
    & + .image {
      left: 100%;
    }

    &.selected {
      left: 0;
    }
    img {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      object-fit: contain;
    }

  }
  .title {
    font-weight: 400;
    font-size: 4.8vw;
    color: white;
    position: absolute;
    left: 6%;
    top: 7%;
    width: 88%;
    text-align: center;
    line-height: 1.3;
    white-space: nowrap;
    z-index: 3;
  }
  .title2 {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    position: absolute;
    /* left: 50%; */
    /* margin-left: -16%; */
    top: 16.5%;
    width: 100%;
    text-align: center;
    line-height: 1.6;
    white-space: nowrap;
    text-transform: uppercase;
    z-index: 4;
    display: flex;
    justify-content: center;
    div {
      padding: 0 1em;
      position: relative;
      &:first-child:before {
        background: #D50A17;
      }
      &:last-child:before {
        background: #B5A070;
      }
      &:before {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 0.3vw;
        z-index: -1;
        transition: height 0.2s ease-in 0s;
        &:first-child {
          background: #D50A17;
        }
        &:last-child {
          background: #697283;
        }
      }
    }
    &.first {
      div:first-child {
        &:before {
          height: 100%;
        }
      }
    }
    &.second {
      div:last-child {
        &:before {
          height: 100%;
        }
      }
    }
  }
  .title3 {
    font-weight: 400;
    font-size: 3vw;
    color: white;
    position: absolute;
    left: 6%;
    bottom: 8.5%;
    line-height: 1.6;
    white-space: nowrap;
    text-transform: uppercase;
    z-index: 4;
  }
  button {
    position: absolute;
    right: 6%;
    bottom: 6%;
    z-index: 5;
  }
}