@import "styles/vars.scss";
.sendPhone {
  width: 100%;
  height: 90vh;
  margin: auto;
  padding-bottom: 14.26vw;;
  position: relative;
  background-color: white;
  &:before {
    content: '';
    width: 100%;
    padding-top: 40%;
    display: block;
    background-image: url('./assets/bgr.png');
    background-size: cover;
  }
  button {
    margin-bottom: 3.73vw;
  }
}
.header {
  margin-bottom: 6vw;
  padding-top: 6vw;
  div:first-child {
    font-size: $fontsize20;
    font-weight: 800;
    color: #4678DB;
    text-transform: uppercase;
    text-align: center;
  }
  div:last-child {
    font-size: $fontsize14;
    color: #393E52;
    text-align: center;
  }
}
.input {
  padding: 0 14vw;
  label {
    font-size: $fontsize14;
    color: #4678DB;
  }
}

input:not([type='checkbox']) {
  width: 100%;
  height: 7vw;
  background: transparent;
  border: none;
  border-bottom: 0.26vw solid #D6D6DE;
  border-radius: 0;
  padding: 0;
  outline:none;
  font-size: $fontsize14;
  color: black;
  margin-bottom: 3.73vw;
}

.privateAgree {
  font-size: $fontsize8;
  color: #848484;
  text-align: left;
  margin-bottom: 4.5vw;
  padding: 0 14vw;
  label {
    display: flex;
    align-items: center;
    input {
      opacity: 0;
      width: 0;
      &+div {
        width: 4vw;
        height: 4vw;
        background: transparent;
        border: 1px solid #8F8F8F;
        margin-right: 1em;
      }
      &:checked+div {
        border: 1px solid #2C5CBD;
        background-image: url('./assets/checkbox.png');
        background-position: center;
        background-size: contain;
      }
      &:checked+div+div {
        color: #2C5CBD;
      }
    }
  }
  span {
    color: #2C5CBD;
  }
}
.button {
  margin: 0 14vw;
}
.button+div {
  opacity: 0;
  // скрываем captcha
}
.shadowWrapper {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .modal {
    width: 90vw;
    height: 70vw;
    background: white;
    border-radius: 3.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
      width: 18vw;
      height: 18vw;
      background: url('./assets/ok_icon.svg') no-repeat center;
      background-size: contain;
      margin-bottom: 6.4vw;
    }
  }
}