@import "styles/vars.scss";
.screen {
  width: 100%;
  min-height: 100vh;
  padding-top: 15em;
  padding-bottom: 28em;
  font-size: 0.266vw;
  > * {
    z-index: 5;
    position: relative;
  }
  .close {
    position: absolute;
    &:before, &:after {
      background-color: white;
    }
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 76%;
    object-fit: contain;
    z-index: 3;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
    }
   }
  .title {
    font-family: Circe, Aria, SansSerif, serif;
    font-size: 22em;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.0161em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.7em;

  }
  .block {
    width: 82vw;
    height: 15vw;
    border-radius: 2.7vw;
    border: 1px dashed #7194C7;
    z-index: 5;
    position: relative;
    margin: auto auto 2.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 14em;
    background: linear-gradient(0deg, rgba(44, 92, 189, 0.5), rgba(44, 92, 189, 0.5)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    .texts {


    }
    .price {
      display:flex;
      flex-direction: column;
      .notGift {
        font-size: 10em;
        color: #BDBDC7;
      }
    }

    .text1 {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 700;
      font-size: $fontsize16;
      text-transform: uppercase;
      line-height: 1.2;
      color: white;
      text-align: left;
    }
    .text2 {
      font-family: Circe, Aria, SansSerif, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14em;
      line-height: 1.2;
      color: white;
      text-align: left;
      text-transform: uppercase;
    }
    .text3 {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 400;
      font-size: $fontsize10;
      line-height: 1.2;
      color: #BDBDC7;
      text-align: left;
    }
    &.four {
      background-color: #469FFE;
      justify-content: center;
      .text2 {
        text-align: center;
      }
    }
  }
  .block4 {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 700;
    font-size: $fontsize12;
    line-height: 1.4;
    text-align: center;
    color: #99B1E0;
    margin: auto auto 6vw;

  }
  .profit {
    margin-bottom: 20em;
    div:first-child {
      color: white;
      line-height: 19em;
      text-align: center;

      span {
        font-family: Circe, Aria, SansSerif, serif;
        font-size: 15em;
        font-weight: 400;
        letter-spacing: 0;
        text-transform: uppercase;
      }
    }
    div:last-child {
      box-shadow: 0 4em 4em 0 #02158940;
      font-family: Circe, Aria, SansSerif, serif;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0;
      text-align: center;
      color: white;


/*      font-family: DM Sans;
      font-size: 64px;
      font-weight: 400;
      line-height: 94px;
      letter-spacing: 0em;
      text-align: center;*/
      span:first-child {
        font-size: 54em;
        font-weight: 700;
      }
      span:last-child {
        font-size: 54em;
        font-weight: 400;
      }
    }
  }
  .button {
    width: 82vw;
    margin: auto auto 2.6vw;
    button {
      font-size: 12em;
      font-weight: 700;
    }

  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 2.6vw;
    a {
      width: 37.6vw;
      height: 9.3vw;
      border: 0.26vw solid #99B1E0;
      border-radius: 5vw;
      display: flex;
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 400;
      font-size: $fontsize14;
      color: #99B1E0;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      margin: 0 2vw;
      &:before {
        content: '';
        width: 5.3vw;
        height: 5.3vw;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin-right: 2vw;
      }
      &.whatsapp {
        &:before {
          background-image: url("./assets/icons__whatsapp.svg");
        }
      }
      &.phone {
        &:before {
          background-image: url("./assets/icons__phone.svg");
        }
      }
    }
  }
}