@import "styles/vars.scss";

.car {
  color: #828282;
  font-size: $fontsize14;
  font-weight: 400;
  font-family: 'Raleway', serif;
  width: 34vw;
  border-bottom: 0.6vw solid #545454;
  .title {
    padding: 0 14% 16%;
    text-align: center;
    line-height: 1.2;
  }
  &.active {
    border-bottom: 0.6vw solid #4678db;
    .title {
      color: #4678db;
    }
  }
}