@import "styles/vars.scss";

.mark {
  color: #828282;
  font-size: $fontsize14;
  font-weight: 400;
  font-family: 'Raleway', serif;
  border-bottom: 0.6vw solid #545454;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 0.2em 0 0.2em;
  .logo {
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5em;
    margin-bottom: 0.7em;
  }
  .title {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0.7em;
  }
  &.active {
    border-bottom: 0.6vw solid #4678db;
    .logo {
      background-position: left top;
    }
    .title {
      color: #4678db;
      font-weight: 800;
    }
  }
}