@import "styles/vars.scss";

.screen {
  width: 100vw;
  padding: 10vw 0 10vw 0;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: white;
  .oilCenterPosition {
    top: -14vw;
    position: relative;
  }

  .greetingScreen {
    padding: 0 8vw 4vw 8vw;

    div:first-child {
      font-family: 'Circe', Arial, sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      font-size: $fontsize33;
      line-height: 1.2;
      box-sizing: content-box;
      margin: 0;
      padding: 0;
      border: 0;
      color: rgb(46, 46, 46);

    }

    div:last-child {
      color: rgb(70, 120, 219);
      font-family: 'Raleway', Arial, sans-serif;
      font-weight: 500;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      font-size: $fontsize25;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  .swiperWrapper {
    width: 116vw;
    margin: auto;
  }
  .swiperWrapperForCars {
    width: 100vw;
    position: relative;
    .buttonPosition {
      position: absolute;
      top: 16%;
      left: 4%;
      width: 92%;
      display: flex;
      justify-content: space-between;
      z-index: 10;
      button {
        width: calc(0.266vw * 34);
        height: calc(0.266vw * 34);
      }
    }
  }
  .carDetailed {
    .image {
      width: 100%;
      padding-top: 42%;
      position: relative;
      margin: 0 auto 4%;
      background-color: white;
      img {
        position: absolute;
        top: 0;
        left: 15%;
        width: 70%;

        object-fit: contain;
      }
    }
    > .title {
      font-size: $fontsize25;
      color: #4678db;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 1em;
      background-color: white;

    }
    .oilTable {
      padding: 0 4vw;
      .row {
        border-bottom: 0.4vw solid #c7c7c7;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw 0 0;
        width: 100%;
        &:first-child {
          border-top: 0.4vw solid #c7c7c7;
        }
        .logo {
          height: calc(0.266vw * 51);
          width: calc(0.266vw * 51);
          position: relative;
          margin-right: 1em;
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            object-fit: cover;
          }
        }
        .title {
          font-size: $fontsize20;
          color: black;
          line-height: 2.6;
          flex-grow: 20;
        }
        .openIcon {
          width: 6vw;
          height: 6vw;
          display: block;
          position: relative;
          transition: all 200ms ease-in-out 0s;
          &:before {
            content: '';
            width: 0.2vw;
            height: 100%;
            position: absolute;
            left: calc(50% - 0.2vw);
            top: 0;
            background-color: black;
          }
          &:after {
            content: '';
            height: 0.2vw;
            width: 100%;
            position: absolute;
            top: calc(50% - 0.2vw);
            left: 0;
            background-color: black;
          }
        }
        .priceCapacity {
          flex: 0 0 100%;
          width: 100%;
          display: block;
          position: relative;
          white-space: nowrap;
          height: 0;
          overflow: hidden;
          box-sizing: content-box;
          transition: all 200ms ease-in-out 0s;
          font-size: $fontsize12;
          line-height: 1.6;
          margin-left: calc(0.266vw * 51 + 1.5em);
          span {
            font-weight: 600;
          }
        }
        &.active {
          .openIcon {
            transform: rotate(-45deg);
          }
          .priceCapacity {
            height: 10vw;
            padding-bottom: 1em;
          }
        }
      }
    }
  }
  .notFound {
    background-image: linear-gradient(0deg, rgba(41,79,173,1) 0%, rgba(70,120,219,1) 100%);
    width: 100vw;
    height: 70vw;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: white;
      font-size: $fontsize25;
      font-weight: 600;
      font-family: 'Circe', Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .oilPresentations {
    width: 100vw;
    padding: 20vw 0 10vw 0;
    .wrapper {
      width: 86vw;
      margin: auto;
      position: relative;
      overflow: hidden;
      .sticker {
        position: absolute;
        left: 5%;
        top: 0;
        width: 90%;
        background-image: url('./assets/sticker.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 2;
        &:before {
          content: '';
          width: 1px;
          padding-top: 50%;
          float: left;
        }
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 80%;
          position: absolute;
          left: 0;
          top: 5%;
          > div {
            color: white;
            text-transform: uppercase;
            &:nth-child(1) {
              color: white;
              font-size: $fontsize16;
              font-family: 'Raleway', Arial, sans-serif;
              line-height: 2;
            }
            &:nth-child(2) {
              color: white;
              font-size: $fontsize24;
              font-family: 'Raleway', Arial, sans-serif;
              line-height: 1;
            }
            &:nth-child(3) {
              color: white;
              font-size: $fontsize46;
              font-family: 'Raleway', Arial, sans-serif;
              line-height: 1;
            }
          }
        }
      }
      .block {
        background-color: white;
        border-radius: 4vw;
        margin-top: 8vw;
        padding: 32vw 10vw 8vw 10vw;
        position: relative;
        .title {
          color: black;
          font-size: $fontsize33;
          font-weight: 400;
          font-family: 'Circe', Arial, sans-serif;
          text-transform: uppercase;
          text-align: left;
          line-height: 1.2;
          span {
            color: rgb(70, 120, 219);
          }
        }
        .oilIcons {
          padding-top: 70%;
          background-image: url('./assets/oil_icons.jpg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

    }
  }
}