@import "styles/vars.scss";
.compare {
  width: 100vw;
  height: 50vw;
  background-image: linear-gradient(0deg, rgba(41,79,173,1) 0%, rgba(70,120,219,1) 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  > div {
    font-size: $fontsize25;
    font-weight: 600;
    color: rgba(256, 256, 256, 0.35);
    font-family: 'Circe', Arial, sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    span {
      color: rgba(256, 256, 256, 1);
    }
    &:nth-child(1) {
      margin-left: -3.2em;
    }
    &:nth-child(2) {
      margin-left: -21.2em;
    }
    &:nth-child(3) {
      margin-left: -6.5em;
    }
    &:nth-child(4) {
      margin-left: -14.5em;
    }
  }
}
.agcIs {
  width: 100%;
  position: relative;
  padding-top: 10%;
  > .logo {
    width: 51.73%;
    background: url(./assets/logo.png) top center no-repeat;
    background-size: contain;
    margin: 0 auto 2em auto;
    &:before {
      content: '';
      padding-top: 38%;
      display: block;
    }
  }
  .service {
    border-radius: 22px;
    border: solid 1px #4678db;
    width: 80%;
    margin: 0 auto 0.5em auto;
    color: #4678db;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-items: stretch;
    &:before {
    content: '';
    padding-top: 32%;
  }
    .title {
      font-size: $fontsize17;
      font-family: 'Raleway',Arial,sans-serif;
      line-height: 1.55;
      font-weight: 700;
      margin-right: 10%;
    }
    .logo {
      width: 27%;
      height: 100%;
      position: relative;
      display: block;
      padding-top: 20%;
      flex: none;
      background: url('./assets/icon--oil.svg') no-repeat left center;
      background-size: cover;
    }
    &[data-type='plan'] {
      .logo {
        background-image: url('./assets/icon--oil.svg');
      }
    }
    &[data-type='prepare'] {
      .logo {
        background-image: url('./assets/icon--stain.svg');
      }
    }
    &[data-type='guard'] {
      .logo {
        background-image: url('./assets/icon--guard.svg');
      }
    }
    &[data-type='wheel'] {
      .logo {
        background-image: url('./assets/icon--wheel.svg');
      }
    }
  }
}