@import "styles/vars.scss";

@keyframes giftbox {
  0% {transform:translateY(0px);animation-timing-function:linear;}
  45% {transform:translateY(6px);animation-timing-function:linear;}
  100% {transform:translateY(0px);}
}
@keyframes r1500  {
  0% {transform: rotate(0deg);animation-timing-function: linear;}
  100% {transform: rotate(360deg);}
}


.screen {
  width: 100vw;
  height: 90vw;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(41,79,173,1) 0%, rgba(70,120,219,1) 100%);
  position: relative;
  padding: 8vw 10vw;
  > .position {
    top: -14vw;
    position: relative;
  }
  .bigTitle {
    font-size: 12vw;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.4;
  }
  .title {
    font-size: 8vw;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.4;
    sup {
      font-family: Raleway, Arial, sans-serif;
    }
  }
  .subTitle {
    font-size: $fontsize18;
    color: white;
    line-height: 1.4;
    font-family: Raleway, Arial, sans-serif;
  }
  .subSubTitle {
    font-size: $fontsize12;
    color: white;
    line-height: 1.4;
    font-family: Raleway, Arial, sans-serif;
  }
  > button {
    position: absolute;
    bottom : 8%;
    left: 10%;
    width: 80%;
  }
  > .gift {
    position: absolute;
    top: 29%;
    right: -5%;
    width: 46%;
    padding-top: 36%;
    overflow: visible;
    .text {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 80%;
      background-image: url("./assets/1500.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      animation: r1500 25s infinite linear;
    }
    .box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("./assets/gift.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      animation: giftbox 2.2s infinite linear;
    }
  }
  .shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
    transition: all 400ms ease-in-out 0s;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    &.open, &.opening {
      opacity: 1;
      pointer-events: auto;
    }

  }
  .showGifts {
    position: fixed;
    height: auto;
    background-color: white;
    border-radius: 4vw;
    left: 0;
    right: 0;
    transition: all 400ms ease-in-out 0s;
    z-index: 101;
    padding: 6.6vw;
    .closePosition {
      top: -10vw;
    }
    &.open {
      top: 0vw;
    }
    &.opening {
      top: 100%;
    }
    &.closed {
      display: none;
    }
    &.closing {
      top: 100%;
    }
    > .text {
      font-size: 7vw;
      text-transform: uppercase;
      margin-bottom: 1em;
      span {
        color: rgb(70, 120, 219);
      }
    }
    .buttonPosition {
      position: relative;
    }
    .gifts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .gift {
        border-radius: 6vw;
        width: 48%;
        flex-grow: 0;
        flex-shrink: 0;
        border: solid 0.6vw #4678db;
        margin-bottom: 1em;
        position: relative;
        &:before {
          content: '';
          width: 1px;
          padding-top: 90%;
          float: left;
        }
        .text {
          position: absolute;
          bottom: 10%;
          left: 10%;
          width: 80%;
          font-family: 'Raleway', Arial, sans-serif;
          font-size: $fontsize16;
          line-height: 1.2;
        }
        &.dark {
          background-color: #4678db;
          .text {
            color: white;
          }
          .icon {
            background-color: #282942;
          }
        }
        .icon {
          width: 40%;
          position: absolute;
          right: -6%;
          top: -10%;
          background-color: #4678db;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: $fontsize20;
          color: white;
          transform: rotate(348deg);
          font-weight: 600;
          &.heart {
            transform: rotate(0);
            &:after {
              content: '';
              width: 60%;
              height: 50%;
              position: absolute;
              left: 20%;
              top: 20%;
              background-image: url('./assets/heart.png');
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          &:before {
            content: '';
            width: 1px;
            padding-top: 100%;
            float: left;
          }

        }
      }

    }
  }
 }