.footer {
  width: 100vw;
  height: auto;
  display: block;
  position: fixed;
  bottom: 0;
  transition: all 0.2s ease-in 0s;
  background-color: #282942;;
  z-index: 100;
  overflow: hidden;
  .wrapper {
    margin: auto;
    position: relative;
    width: 80%;
    height: auto;
    button {

    }

    .active, .notActive {
      position: relative;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      overflow: hidden;
      transition: all 240ms ease-in-out 0s;
    }

    .active {
      height: 0;

    }

    .notActive {
      height: 24vw;

    }
  }
  &.active {
    .active {
      height: 88vw;
      padding: 4vw 0;
    }
    .notActive {
      height: 0;
      padding: 0;
    }
  }


}