@import "styles/vars.scss";
.plug {
  width: 100%;
  padding-top: 36%;
  .back {
    color: #2C5CBD;
    position: absolute;
    left: 4vw;
    top: 4vw;
    margin: 0;
    &:before {
      content: '';
      width: 3vw;
      height: 3vw;
      display: inline-block;
      margin-right: 0.2em;
      background: url('./assets/arrow--left.svg') no-repeat center;
      background-size: contain;
      vertical-align: middle;
    }
  }
  .logo {
    width: 100%;
    padding-top: 32%;
    background: url("./assets/broken.svg") no-repeat center;
    background-size: contain;
    margin-bottom: 6vw;
  }
  .text {
    font-weight: 400;
    font-size: 5.3vw;
    line-height: 1.4;
    margin-bottom: 16vw;
    text-align: center;
  }
  .buttons {
    padding: 0 9.8vw 0 9.8vw;
    margin-bottom: 6vw;
    > button {
      margin-bottom: 2.8vw;
    }
  }
  .phone {
    font-weight: 600;
    font-size: 4.6vw;
    line-height: 1.8;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #696969;
    align-items: center;
    justify-content: center;
    display: flex;
    &:before {
      content: '';
      width: 5vw;
      height: 5vw;
      background: url('./assets/phone.svg') no-repeat center;
      background-size: contain;
      margin-right: 0.5vw
    }
  }
  .greeting {
    font-weight: 600;
    font-size: 3.8vw;
    line-height: 1.8;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #8A8A8A;
  }
}