@import "styles/vars.scss";
@keyframes topBox {
  0% {transform:scale(1) rotate(348deg);animation-timing-function:linear;}
  45% {transform:scale(1.4) rotate(348deg);animation-timing-function:linear;}
  100% {transform:scale(1) rotate(348deg);}
}
.topService {
  width: 71.46vw;
  position: relative;
  margin: 11vw 0 0 4vw;
  overflow: visible;
  .image {
    width: 100%;
    height: 66.6666vw;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 9vw;
    overflow: hidden;
    margin-bottom: 1em;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 82%, rgba(0,0,0,1) 100%);
      display: none;
    }
  }
  .textPosition {
    position: relative;
     width: 82%;
    left: 9%;
    z-index: 3;
    .title {
    }
  }
  .title {
    width: 100%;
    transform: translateZ(0);
    color: black;
    font-family: 'Raleway',Arial,sans-serif;
    font-weight: 400;
    background-position: center center;
    font-size: $fontsize17;
    backface-visibility: hidden;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  &[data-id='1'], &[data-id='3'], &[data-id='4'], &[data-id='6'] {
    &:after {
      content: "TOP";
      width: 20vw;
      height: 20vw;
      position: absolute;
      left: -9%;
      top: -8%;
      background-color: #4678db;
      border-radius: 50%;
      font-size: 5.3vw;
      color: white;
      font-weight: 600;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: topBox 2.2s infinite linear;
    }
  }
  &.final {
    .image {
      background-color: #4678db;
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        color: white;
        font-size: $fontsize24;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.2;
      }
    }

  }
}