@import "styles/vars.scss";
.screen {
  width: 100vw;
  padding-bottom: 10vw;
  position: relative;
  overflow: hidden;
  z-index: 2;
  .greetingScreen {
    padding: 0 8vw 4vw 8vw;
    div:nth-child(1), div:nth-child(2) {
      -webkit-font-smoothing: antialiased;
      visibility: visible;
      -webkit-text-size-adjust: 100%;
      font-family: 'Circe',Arial,sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      font-size: $fontsize33;
      line-height: 1;
      box-sizing: content-box;
      margin: 0;
      padding: 0;
      border: 0;
      color: rgb(46, 46, 46);
    }
    div:nth-child(2) {
      color: #4678db;
    }
    div:nth-child(3) {
      -webkit-font-smoothing: antialiased;
      visibility: visible;
      box-sizing: content-box;
      margin: 0;
      padding: 0;
      border: 0;
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      -webkit-text-size-adjust: 100%;
      transform: translateZ(0);
      color: #2e2e2e;
      font-family: 'Raleway',Arial,sans-serif;
      font-weight: 500;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      font-size: 15px;
      line-height: 18px;
    }
  }
  .pagination {
    top: 5.75vw;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    > span {
      margin: 0 1vw;
    }
    .bullet {
      margin: 0 1vw;
      width: 1.86vw;
      height: 1.86vw;
      background: #BDBDBD;
      opacity: 0.3;
      border-radius: 50%;
      &.active {
        background: #BDBDBD;
        opacity: 1;
      }
    }
  }
  .buttonPosition {
    position: absolute;
    //bottom: 16vw;
    top: 146vw;
    bottom: 0;
    width: 88%;
    left: 6%;
    display: flex;
    align-items: center;
    z-index: 2;
    padding-bottom: 10%;
    .spacer {
      flex: 2;
    }
    .readOn button {
      opacity: 0;
      pointer-events: none;
    }
    > button:last-child {
      margin-right: 0;
    }
    button {
      margin-right: 1vw;
    }


  }
  .present {
    width: 100vw;
  }
 }