.screen {
  width: 100vw;
  height: 178vw;
  min-height: 100vh;
  background: black url("./assets/bgr.png") no-repeat;
  background-size: contain;
  padding: 68vw 6vw;
  overflow: hidden;
  position: relative;
  z-index: 2;
  .greeting {
    color: white;
    font-family: Manrope, serif;
    font-weight:600;
    font-size: 6.5vw;
    margin-bottom: 5vw;
  }
  .introduce {
    color: white;
    font-family: Manrope, serif;
    font-weight: 400;
    font-size: 5.4vw;
    margin-bottom: 3vw;
  }
  .buttons {
    margin-top: 11vw;
    button {
      margin-bottom: 2.4vw;
    }
  }
}