.footer {
  width: 100vw;
  height: 14vw;
  display: flex;
  position: fixed;
  bottom: -14vw;
  transition: all 0.2s ease-in 0s;
  background: #FFFFFF;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
  .wrapper {
    width: 106vw;
    height: 14vw;
  }
  &.active {
    bottom: 0;
  }

  .icon {
    width: 16vw;
    height: 14vw;
    background-size: cover;
    background-repeat: no-repeat;
    &[data-mark='toyota'] {
      background-image: url('./assets/toyota.png');
    }
    &[data-mark='lexus'] {
      background-image: url('./assets/lexus.png');
    }
    &[data-mark='nissan'] {
      background-image: url('./assets/nissan.png');
    }
    &[data-mark='honda'] {
      background-image: url('./assets/honda.png');
    }
    &[data-mark='subaru'] {
      background-image: url('./assets/subaru.png');
    }
    &[data-mark='mercedes'] {
      background-image: url('./assets/mercedes.png');
    }
    &[data-mark='hyundai'] {
      background-image: url('./assets/hyundai.png');
    }
    &[data-mark='mitsubishi'] {
      background-image: url('./assets/mitsubishi.png');
    }

  }
}