@import "styles/vars.scss";
.filial {
  opacity: 0;
  height: 0;
  pointer-events: none;
  overflow: visible;
  &.active {
    opacity: 1;
    height: auto;
    pointer-events: auto;
  }
  .tabs {
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
    height: 10vw;
    overflow: hidden;
    .tab {
      height: 8.53vw;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: $fontsize12;
      &.active {
        box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px 8px 0 0;
      }
    }
  }
  .body {
    padding: 1.6vw 4.5vw 0 4.5vw;
    background: white;
    min-height: 119vw;
     > div {
       border-radius: 2.6vw;
       position: relative;
       overflow: hidden;

       &.video {
         width: 90vw;
         height: 50vw;
         position: relative;
         margin-bottom: 3.2vw;
         .preview {
           position: absolute;
           width: 100%;
           height: 100%;
           left: 0;
           top: 0;
         }
         .title {
           position: absolute;
           top: 81%;
           left: 5%;
           font-size: $fontsize12;
           color: white;
         }
         .play {
           width: 15%;
           padding-top: 15%;
           background: url(../../../../components/YouTubeWrapper/assets/play.svg) no-repeat;
           background-size: cover;
           left: 42%;
           top: 30%;
           position: absolute;
         }
       }
       img {
         width: 100%;
         height: auto;
       }
     }
    .map {
      width: 90.4vw;
      height: 119vw;
      position: relative;
      .buttonPosition {
        position: absolute;
        bottom: 5.6vw;
        width: 88%;
        left: 6%;
        margin: auto;
        .routeIcon {
          margin-right: 0.75em;
        }
      }
      .routeIcon {
        background: url('./assets/route.svg');
        width: 5.86vw;
        height: 5.86vw;
        background-size: cover;
        flex: none;
      }
      .floatWindow {
        position: fixed;
        bottom: -38vw;
        left: 0;
        height: 38vw;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 10;
        width: 100%;
        transition: bottom 200ms ease-in-out;
        padding: 1em 0.5em;
        h2 {
          flex: none;
          display: block;
          width: 100%;
          font-weight: 700;
          line-height: 1.6;margin: 0 0.5em 1em 0.5em;
        }
        &.open {
          bottom: 14vw;
        }
        .button {
          margin: 0 0.5em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          button {
            margin-bottom: 0.4em;
            padding: 0;
            div {
              position: relative;
              width: 100%;
              height: 100%;
              background: no-repeat center;
              background-size: cover;

              &.twogis {
                background-image: url("./assets/2gis__icon.png");
              }
              &.yandexMap {
                background-image: url("./assets/ya-map__icon.png");
              }
              &.google {
                background-image: url("./assets/google__icon.png");
              }
            }
          }
          text-align: center;
          font-size: $fontsize12;
        }
      }
    }
  }
  .swiper {
    .pagination {
      bottom: 5.75vw;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      width: 100%;
      > span {
        margin: 0 1vw;
      }
      .bullet {
        margin: 0 1vw;
        width: 1.86vw;
        height: 1.86vw;
        background: #BDBDBD;
        opacity: 0.3;
        border-radius: 50%;
        &.active {
          background: #BDBDBD;
          opacity: 1;
        }
      }
    }
  }

}