@import "styles/vars.scss";
.header {
  font-size: 0.266vw;
  width: 100%;
  padding-top: 72%;
  position: relative;
  .wrapper {
    background-size: cover;
    font-weight: 700;
    line-height: 1.3;
    background: url("./assets/bgr.jpg") no-repeat center;
    position: absolute;
    left: 41em;
    right: 41em;
    top: 35em;
    bottom: 0;
    border-radius: 20em;
    padding-top: 170em;
    padding-left: 14em;
    background-size: cover;
    div {
      text-transform: uppercase;
      color: white;
      font-size: 20em;
      line-height: 1.2;
    }
  }





}