.screen {
  width: 100vw;
  height: auto;
  background-color: #F4F5F7;
  padding-bottom: 12vw;
  overflow: hidden;
  position: relative;
  z-index: 2;
  .reviews {
    height: 100%;
  }
  .ratings {
    .subHeader {
      display: flex;
      padding: 7% 11% 6% 11%;
      justify-content: space-between;
      align-items: center;
      div:first-child {
        font-weight: 700;
        font-size: 6.4vw;
        line-height: 1.3;
        color: black;
      }
    }
    .ratingsList {
      padding-bottom: 3vw;
      > div {
        margin: 0 auto 4% auto;

      }
    }
  }
  .reviewsPosition {
    top: -14vw;
    position: relative;
  }
  .swipeWrapper {
    min-height: calc(100vh - 37vw);;
    &.startScreen {
      min-height: auto;
    }
  }
 }