@import "styles/vars.scss";
.present {
  width: 92vw;
  height: 92vw;
  position: relative;
  border-radius: 9vw;
  overflow: hidden;
  margin: 0 4vw;

  &[data-id='1'] {
    &:before {
      background-image: url('./assets/arrow_something.png');
      content: "";
      background-size: contain;
      width: 11vw;
      height: 11vw;
      position: absolute;
      bottom: 10%;
      right: 21%;
      z-index: 3;
      background-repeat: no-repeat;
    }
    .image {
      img {
        position: absolute;
        left: -213%;
        top: 0;
        height: 100%;
        object-fit: none;
        width: auto;
      }
    }
    .title {
      margin-bottom: 2vw;
      position: relative;
      display: block;
    }
    .description {
      position: relative;
      color: white;
      font-weight: 400;
      font-size: $fontsize18;
      line-height: 1.2;
    }
  }
  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 82%, rgba(0,0,0,1) 100%);
      display: none;
    }
  }
  .textPosition1 {
    position: absolute;
    bottom: 10%;
    width: 88%;
    left: 6%;
    z-index: 3;
    .title {
    }
  }
  .textPosition2 {
    position: absolute;
    top: 132vw;
    width: 88%;
    left: 6%;
  }
  .title {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    transform: translateZ(0);
    color: #ffffff;
    font-family: 'Raleway',Arial,sans-serif;
    font-weight: 400;
    background-position: center center;
    font-size: 9.3vw;
    backface-visibility: hidden;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .description {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 6.1vw;
    line-height: 1.3;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 42%,rgba(0,0,0,1) 98%);
    content: '';
    z-index: 2;
  }


}